*,
*:before,
*:after {
  box-sizing: border-box !important;
  max-width: 100vw;
  /* outline: 1px solid limegreen !important; */
}

.nav-bar {
  background-color: #e6433c;
}

/* mobile media settings */
@media only screen and (max-width: 740px) {
  /* .mobile {
    display: block;
  } */
  .desktop {
    display: none;
  }
}

@media only screen and (min-width: 740px) {
  .mobile {
    display: none;
  }
  /* .desktop {
    display: block;
  } */
}
